<div class="bootstrap-wrapper">
    <div class="container mt">

        <div class="row">
            <div class="col-md-6 offset-md-3">





                <mat-card class="example-card ">
                    <mat-card-header class="header">
                        <div class="container text-center">
                            <img class="img-fluid" src="/assets/password.png" alt="">

                            <mat-card-title class="title">Login</mat-card-title>
                            <mat-card-subtitle>FreEcommerce Admin</mat-card-subtitle>
                        </div>


                    </mat-card-header>

                    <mat-card-content>
                        <mat-tab-group>


                            <mat-tab label="">
                                <form class="example-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                    <div>
                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Username</mat-label>
                                            <input type="text" [formControlName]="'username'" matInput
                                                placeholder="Ingrese Username">

                                            <mat-icon matSuffix>account_box</mat-icon>

                                        </mat-form-field>
                                        <div *ngIf="f.username.invalid && f.username.touched">

                                            <span class="error" *ngIf="f.username.errors?.required">Username Field Is
                                                Required</span>
                                            <span class="error" *ngIf="f.username.errors?.pattern">Enter only Words and Numbers
                                                    </span>
                                            
                                        </div>
                                    </div>
                                    <div>

                                        <mat-form-field class="example-full-width" appearance="fill">
                                            <mat-label>Password</mat-label>
                                            <input type="password" matInput placeholder="Ingrese Password..."
                                                [formControlName]="'password'" name="log_password">

                                            <mat-icon matSuffix>vpn_key</mat-icon>


                                        </mat-form-field>
                                        <div *ngIf="f.password.invalid && (f.password.touched || f.password.dirty)">

                                            <span class="error" *ngIf="f.password.errors?.required">Password Is
                                                Required</span>
                                                <span class="error" *ngIf="f.password.errors?.minlength">Password Min 
                                                    Length is 8 </span>
                                        </div>
                                        

                                    </div>

                                    <div class="container text-center">
                                        <button  type="submit" class="mat-raised-button" mat-raised-button
                                            color="primary">
                                            Login
                                        </button>
                                        <a routerLink="/register" type="submit" class="register-a" mat-raised-button
                                            color="green">
                                            Aun no Tienes Cuenta ?
                                        </a>
                                    </div>


                                </form>



                            </mat-tab>
                            <!--
                            <mat-tab label="Register">

                                <div>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Favorite food</mat-label>
                                        <input matInput placeholder="Ex. Pizza" value="Sushi">
                                    </mat-form-field>
                                </div>
                                <div>

                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Leave a comment</mat-label>
                                        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                                    </mat-form-field>
                                </div>


                            </mat-tab>-->
                        </mat-tab-group>

                    </mat-card-content>
                    <mat-card-actions>

                        <h3 class="text-danger text-center">{{this.msg}}</h3>
-
                    </mat-card-actions>
                </mat-card>


            </div>



        </div>
    </div>


</div>


<!--<div class="container">
                    <img class="img-fluid" src="/src/assets/password.png" alt="">
                </div>

                <h1 class="text-center">Login Here !!</h1>

                <form action="">
                    <mat-form-field class="full-with">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput />

                    </mat-form-field>
                    <mat-form-field class="full-with">
                        <mat-label>Password</mat-label>
                        <input type="text" matInput />

                    </mat-form-field>
                    <div class="container text-center">
                        <button class="mat-raised-button" mat-raised-button color="primary">

                        </button>
                    </div>

                </form>-->


<!--<div *ngIf="submited && f.password.errors">

                                            <div class="error" *ngIf="f.password.errors.required">Password Is
                                                Required</div>
                                            <div class="error" *ngIf="f.password.errors.minLength">Password Is
                                                minlength</div>

                                        </div>-->